.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(#8b0000,#ff6666);
    text-align: center;
    font-family: arial, sans-serif;
}